{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes).addClass('container rel-1') }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <div class="row">
      <div class="text-center text-white col-md-6 col-md-offset-3">
        {{ header }}
      </div>
    </div>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  <div class="section-body">
    <div class="row-price">
      {{ rows }}
    </div>
  </div>

  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
      {{ footer }}

  {% endif %}

  {{ feed_icons }}
</div>
