{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes).addClass('container') }}>
          <div class="row-columns row-padding row">
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
            <div class="column col-md-6 col-md-push-6">
      {{ header }}
</div>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

            <div class="col-md-6 col-md-pull-6 text-center">
  {{ rows }}
</div>
  {{ empty }}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
      {{ footer }}

  {% endif %}

  {{ feed_icons }}
</div>
</div>
