{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="container rel-1">
    <div class="row">
      <div class="col-md-6">
        {% block content %}
          {{ title_prefix }}{% if label %}{{ label }} {% endif %}{{ title_suffix }}
          <h2 class="text-white section-title">{{ content.field_title }}</h2>
          <p class="text-opacity">{{ content.field_plain_body }}</p>
          {% if content.field_video_url|render %}<p class="top-space">
            <a href="{{ content.field_video_url }}" class="text-white play js-play"><i class="text-white fa fa-3x fa-play-circle"></i> {{ content.field_video_link_text }}</a>
          </p>{% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
        
      