{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    label ? 'has-title',
    content['body']['#bundle'] ? 'bundle-' ~ content['body']['#bundle'],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <main  class="masthead masked">
    <div class="opener rel-1">
      {% if content.field_image|render %}<div class="ccn-bg-img">{{ content.field_image }}</div>{% endif %}
      <div class="YTbg"></div>
      <div class="container">
        <div class="row">
          <div class="lead col-lg-6">
            {% block content %}
              {{ title_prefix }}{% if label %}{{ label }} {% endif %}{{ title_suffix }}
              <h1 class="wow fadeInDown">{{ content.field_title }}</h1>
              <p class="lead-text">{{ content.field_plain_body }}</p>
              <div class="lead-controls">
                {% if content.field_button_text|render %}<a href="#request" class="btn-lead btn" data-toggle="modal">{{ content.field_button_text }}</a>{% endif %}
                {% if content.field_video_url|render %}
                  <a href="{{ content.field_video_url }}" class="text-white play-home js-play">
                    <i class="fa fa-play-circle"></i>
                    {{ content.field_video_link_text }}
                  </a>
                {% endif %}
              </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script>
jQuery(window).load(function(){
	    if(jQuery('.YTbg').length){
        var YTbg = jQuery('.YTbg').YTPlayer({
            fitToBackground: true,
            videoId:{{ content.field_youtube_id }},
            playerVars: {
                modestbranding: 1,
                autoplay: 1,
                controls: 0,
                showinfo: 0,
                wmode: 'transparent',
                branding: 0,
                rel: 0,
                autohide: 2,
              },
        });
    }
});
</script>